{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class='card'>
        <div class='card-body'>
            <form action='/schedule' method="GET">
                <div class='row'>
                    <div class='col-12 col-md-4'>
                        <div class='form-group'>
                            <label for='schedule-id'>ID</label>
                            <input type='text' class='form-control' id='schedule-id' name='schedule-id' required>
                        </div>
                    </div>

                    <div class='col-12 col-md-4'>
                        <div class='form-group'>
                            <label for='start-date'>Start date</label>
                            <input type='date' class='form-control' id='start-date' name='start-date' value='{{start}}'
                                required>
                        </div>
                    </div>

                    <div class='col-12 col-md-4'>
                        <div class='form-group'>
                            <label for='end-date'>End date</label>
                            <input type='date' class='form-control' id='end-date' name='end-date' value='{{end}}'
                                required>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-6 col-md-2'>
                        <button type='submit' class='btn btn-primary btn-block'>DEJ</button>
                    </div>
                    <div class='col-6 col-md-2'>
                        <button type='submit' formaction='schedule.ics'
                            class='btn btn-outline-primary btn-block'>ICS</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}