{% extends 'base.html' %}
{% block content %}
<div class='container'>
    {% for day, events in schedule.items() %}
    <div>
        {{day}}
        <ul>
            {% for event in events %}
            <li>
                {{event['summary']}}
                <br>
                {{event['start'].strftime('%H:%M')}} - {{event['end'].strftime('%H:%M')}} {{event['location']}}
                <br>
                {{event['teacher']}}
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock%}