{% extends 'base.html.j2' %}

{% block content %}
<div class="container mb-5">
	{% for day, events in schedule.items() %}
	<div class="card my-3 {{'border border-primary' if today==day}} shadow-sm">
		<div
			class="card-header p-2 pl-3"
			style="background-color: rgba(0, 0, 0, 0.07);"
		>
			<strong>
				{{ day.strftime('%A') }}
			</strong>

			<small class='text-muted'>
				{{ day.strftime('%Y-%m-%d') }}
			</small>
		</div>

		<div class="card-body px-2 py-1" style="background-color: rgba(0, 0, 0, 0.03);">
			{% for event in events %}
			<div class="card my-1">
				<div class="card-body py-1 px-2">
					<div class="row">
						<div class="col-4 col-lg-2 ">
							<div>
								{{ event.start.strftime('%H:%M') }} - {{ event.end.strftime('%H:%M') }}
							</div>
							{% if event.location %}
							<div class="mt-1">
								{{ event.location }}
							</div>
							{% endif %}
						</div>
						<div class="col-8 col-lg-10">
							<div>
								<strong> {{ event.name }} </strong>
							</div>
							{% if event.teacher %}
							<div class="mt-1">
								{{ event.teacher }}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
